<style>
  p {
    font-size: 14px;
  }
  table {
    width: 100%;
  }
  .mat-column-title {
    width: 70%;
  }
  .mat-column-icon {
    width: 5%;
  }
  .mat-cell {
    font-size: 12px;
  }
</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-white">
  
  <!-- Begin: Tabla de Feeds-->
  <div class="mat-elevation-z1">
    
    <div class="row" style="padding: 10px 20px;">
      <img src="assets/images/hackerNews.jpeg" height="50px" width="50px" class="rounded-circle float-left">
      <div class="row" style="padding-left: 10px;">
        <div class="col-sm-12"><p>{{title}}</p></div>
        <div class="col-sm-4" style="margin-top: -15px;"><p class="text-muted">{{module}}</p></div>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
    <!-- -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
      
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>
      
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><mat-icon>{{element.icon}}</mat-icon></td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    <!---->
    </table>
    <!-- End: Tabla de Feeds-->
    
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    
  </div>
  
</div>

<router-outlet></router-outlet>